<header class="cabecalho">
   <a href="./home.html">
       <img class="cabecalho-logo" src="img/LogoMPKrct.webp" alt="logoMpk">
   </a>
   <div class="search-box">
       <input type="text" class="search-txt" placeholder="Pesquisar..." />
       <a href="#" class="search-btn">
           <img id="lupa-1" src="img/lupa-menor.png" alt="lupa">
       </a>
   </div>
   <img id="loginimagem" src="img/perfilusiconaAZ.png">
   <nav class="dp-menu">
       <ul>
           <li><a href="./login.html">LOGIN</a></li>
           <li>|</li>
           <li><a href="./cadastro.html">CRIAR CONTA</a>
               <ul>
                   <li><a href="./cadastro.html">Usuário</a></li>
                   <li><a href="./cadastro-pj.html">Vendedor</a></li>
                   <li><a href="./cadastro-parceiros.html">Parceiro</a></li>
               </ul>
           </li>
       </ul>
   </nav>
</header>
<section class="barralink">
   <nav id="hamburguer">
       <input type="checkbox" id="check">
       <label for="check">
           <img src="img/menuhamb az.png" alt="menu hamburguer" style="cursor: pointer;" />
       </label>
       <span>Departamentos</span>
       <div class="submenu-hamb">
           <ul>
               <li><a href="./estabelecimentos.html">Eletroeletrônicos</a></li>
               <li><a href="./estabelecimentos.html">Utilidades do Lar</a></li>
               <li><a href="./estabelecimentos.html">Moda</a></li>
               <li><a href="./estabelecimentos.html">Farmácia</a></li>
               <li><a href="./estabelecimentos.html">Construção</a></li>
           </ul>
       </div>
   </nav>
   <nav class="navbar">
       <a class="navbar-item2" href="./estabelecimentos.html"><img src="img/loja-online.png" />Estabelecimentos</a>
       <a class="navbar-item3" href="#"><img src="img/carrinho-de-compras2.png" />Minhas Compras</a>
       <a class="navbar-item4" href="#"><img src="img/ofertaaz.png" />Ofertas</a>
       <a class="navbar-item5" href="#"><img src="img/trofeuaz.png" />Destaques do Mês</a>
       <a class="navbar-item6" href="./parceiros.html"><img src="img/parceirocolor.png" />Parceiros</a>
       <a class="navbar-item7" href="#"><img src="img/compras-online.png" />Venda no MPK</a>
   </nav>
</section>